# Application
PROJECT_NAME="Bodhrik Fullstack Assessment API"
DEBUG=true

# Database (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bodhrik
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/bodhrik

# Cache & Message Broker (Redis)
REDIS_URL=redis://localhost:6379/0

# Security / JWT
JWT_SECRET=super-secret-key-change-in-production-minimum-32-chars-length
JWT_ALGORITHM=HS256
